/* HIDE UGLY SCROLLBAR IN ALL BROWSERS */

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-Regular.ttf) format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-Medium.tff) format("TrueType");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-SemiBold.tff) format("TrueType");
  font-weight: bold;
  font-style: normal;
}

/* CONTAINERS */

* {
  margin: 0;
}

.body {
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "KodeMono", monospace;
}

.header {
  height: auto;
  padding: 8px 8px 8px 8px;
  /* margin-top: 16px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topsection {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.moreinfo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
}

.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px 24px 20px;
}

/* COMPONENTS */

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  color: #f7f7f7;
  background-color: #3f0505;
  box-shadow: 4px 4px #200101;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 40px;
  font-size: large;
  text-shadow: 0 0 1px #fff, 0 0 15px #fc0303, 0 0 20px #fc0303,
    0 0 25px #fc0303, 0 0 30px #fc0303;
}

.links {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: large;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
}

.text {
  color: #f7f7f7;
  text-shadow: black 2px 4px;
}

.lineupcountry {
  color: #f7f7f7;
  width: 200px;
  height: auto;
  position: absolute;
  text-align: center;
  font-size: smaller;

  left: 20px;
  bottom: -1px;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 0) 50%
  );
}

/* TICKETS */

.ticketsbackground {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0px 0px 48px 24px #fc030390;
}

.ticketsbutton {
  background-color: #3f0505;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  cursor: pointer;
  border-radius: 100px;
  box-shadow: 0px 6px 2px #0000008b;
  text-shadow: 0 0 1px #fff, 0 0 15px #fc0303, 0 0 20px #fc0303,
    0 0 25px #fc0303, 0 0 30px #fc0303;
  font-size: x-large;
}

.miniticket {
  margin-top: -8px;
  margin-bottom: 4px;
  margin-left: 54px;
  margin-right: 54px;
  text-align: center;
  border-radius: 100px;
  box-shadow: 0px 0px 48px 24px #fc030390;
}

.miniticketbutton {
  background-color: #3f0505;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 4px 2px #0000008b;
  font-size: small;
}

/* DISPLAY COMPONENT AND SUBCOMPONENTS */

.displays {
  margin: 20px;
  border-radius: 20px;
  width: 240px;
  height: 184px;
  position: relative;
  cursor: pointer;
}

.displays img {
  border-radius: 18px;
  width: 240px;
  height: 184px;
  border: #000000;
  border-width: 3px;
  border-style: solid;
}

.displaysinfo {
  color: #f7f7f7;
  width: 200px;
  height: auto;
  position: absolute;
  text-align: center;

  left: 20px;
  bottom: 12px;

  color: #f7f7f7;
  text-shadow: black 2px 4px;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 0) 50%
  );
}

/* CONTENT */

.mainlogo {
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.keyinfo {
  background-color: #00000071;
  box-shadow: 0px 0px 24px #000000e4;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  text-align: center;
  justify-content: center;
  padding: 16px;
  margin-top: 48px;
  margin-bottom: 52px;
  border-radius: 50px;
}

.logo {
  margin-left: 4px;
  cursor: pointer;
}

.burger {
  margin-right: 4px;
  cursor: pointer;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.locationsgroup {
  display: grid;
  align-items: center;
  align-content: center;
}

h2 {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.onsale {
  background-color: #00000071;
  box-shadow: 0px 0px 24px #000000e4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #000000e4;
  position: absolute;
  z-index: 10;
  display: none;
}
