/* HIDE UGLY SCROLLBAR IN ALL BROWSERS */

:root::-webkit-scrollbar {
  display: none;
}

:root {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-Regular.ttf) format("TrueType");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-Medium.tff) format("TrueType");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "KodeMono";
  src: url(/assets/Font/KodeMono-SemiBold.tff) format("TrueType");
  font-weight: bold;
  font-style: normal;
}

/* CONTAINERS */

* {
  margin: 0;
}

.body {
  background-image: url("../assets/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "KodeMono", monospace;
}

.utility {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DISPLAY COMPONENT AND SUBCOMPONENTS */

.displays {
  margin: 20px;
  border-radius: 20px;
  width: 240px;
  height: 184px;
  position: relative;
  cursor: pointer;
}

.displays img {
  border-radius: 18px;
  width: 240px;
  height: 184px;
  border: #000000;
  border-width: 3px;
  border-style: solid;
}

.displaysinfo {
  color: #f7f7f7;
  width: 200px;
  height: auto;
  position: absolute;
  text-align: center;

  left: 20px;
  bottom: 12px;

  color: #f7f7f7;
  text-shadow: black 2px 4px;

  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(9, 9, 121, 0) 50%
  );
}

/* MOBILE MENU */
.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #000000e4;
  position: absolute;
  z-index: 10;
  display: none;
}
