/* DESKTOP LARGE */
@media only screen and (min-width: 1439px) {
  nav {
    padding: 3rem 2rem;
  }

  a.button-nav {
    margin: 1rem;
    width: 9rem;

    transition: 0.5s;
  }

  .display {
    margin-inline: 0.5rem;
  }
}

/* DESKTOP MEDIUM */
@media only screen and (max-width: 1260px) {
  nav {
    padding: 3rem 1.75rem;
  }

  a.button-nav {
    margin: 1rem;
    width: 7rem;
    font-size: medium;

    transition: 0.5s;
  }

  .display {
    margin-inline: 1.5rem;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1023px) {
  nav {
    padding: 3rem 1.5rem;
  }
  a.button-nav {
    margin: 1rem 0.75rem;
    width: 6.5rem;
    font-size: medium;

    transition: 0.5s;
  }

  .display {
    margin-inline: 1.5rem;
  }
}

/* TABLET SMALL*/
@media only screen and (max-width: 769px) {
  nav {
    padding: 3rem 1.25rem;
  }
  .hamburger-button {
    /* display: flex; */
    cursor: pointer;
  }

  .hamburger-button-opened {
    display: none;
  }

  .hamburger-button-closed {
    display: none;
  }

  nav ul {
    height: 100%;
    position: absolute;
    top: 100px;
    left: -1rem;
    right: 0rem;
    width: auto;
    backdrop-filter: blur(1rem);
  }

  .navigation-buttons {
    display: block;
    margin: auto auto auto auto;
    width: fit-content;
  }

  a.button-nav {
    margin: 1rem;
    width: 20rem;
    font-size: x-large;
  }

  .a.button-mini {
    margin-top: 0.5rem;
  }

  .mini-button-margin {
    margin: -0.5rem 3rem 2rem 3rem;
  }

  .display-location-margin {
    margin-top: 1rem;
  }
}

/* MOBILE LARGE */
@media only screen and (max-width: 426px) {
  .display {
    display: grid;
  }

  .navigation-buttons {
    margin: 2rem 3rem;
  }

  a.button-nav {
    width: 18rem;
  }

  nav ul {
    left: -1rem;
    right: 0rem;
  }
}

/* MOBILE MEDIUM */
@media only screen and (max-width: 376px) {
  a.button-nav {
    width: 12rem;
  }

  .main-logo {
    width: 350px;
    height: 75px;
  }

  .footer-logo {
    width: 330px;
    height: 70px;
  }

  a.button-main {
    width: 18rem;
  }
}

/* MOBILE SMALL */
@media only screen and (max-width: 321px) {
  .navigation-buttons {
    margin: 2rem 1rem;
  }

  nav ul {
    left: 0rem;
    right: 0rem;
  }

  .footer-logo {
    width: 280px;
    height: 62px;
  }

  .button-background {
    width: 15rem;
  }

  a.button-main {
    width: 15rem;
  }

  .main-logo {
    width: 280px;
    height: 65px;
  }
}
